API211_KEY=""
SUPABASE_PROJECT_ID="rwvjkzpugmlrmcdgltwu"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_dxH-ZdsppAxtwjA1A9NBAQ_ofTIuX3m"
SUPABASE_URL="https://rwvjkzpugmlrmcdgltwu.supabase.co"
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_BROWSER_KEY=""
VITE_LOVABLE_CONNECTOR_GOOGLE_MAPS_TRACKING_ID="5a1a33b487a7d37b0e3340bb91e22012"
VITE_SUPABASE_PROJECT_ID="rwvjkzpugmlrmcdgltwu"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_dxH-ZdsppAxtwjA1A9NBAQ_ofTIuX3m"
VITE_SUPABASE_URL="https://rwvjkzpugmlrmcdgltwu.supabase.co"
